.menu-option {
  color: white !important;
}

a:hover {
  color: white;
  background-color: #349af0;
}
.menu-center {
  margin-left: 17%;
}
body {
  background-color: #111111;
}
.a {
  text-decoration: none;
}
